<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div>
        <h1 id="heading">The 5 Latest Sports Cars That Redefine Speed and Luxury</h1>
    </div>
    <h2 id="intro">The world of sports cars continues to evolve, offering enthusiasts a mix of cutting-edge technology, 
        breathtaking designs, and unmatched performance. In this post, we take a look at five of the latest
        sports cars that have been making waves in the automotive industry.
    </h2>
    <h2 class="header">1. 2025 Chevrolet Corvette E-Ray</h2>
    <p class="paragraphs" id="first-paragraph">The Chevrolet Corvette E-Ray marks a milestone in the history of the Corvette lineup as the first hybrid and 
        all-wheel-drive version of the iconic sports car.Combining a naturally aspirated 6.2L V8 engine with an 
        electric motor on the front axle, the E-Ray delivers a combined output of 655 horsepower.
    </p>
    <a href="https://youtu.be/DCDHatnaH80?si=Xe9pBsWoZfTpazlk">
        <img src="{{url_for('static', filename='chef.png')}}">
    </a>
    <h3 class="paragraphs" id="Highlights">Highlights:</h3>
    <ul id="list-block">
        <li>0-60 mph in just 2.5 seconds.</li>
        <li>Unique stealth mode for silent electric operation.</li>
        <li>Aerodynamic enhancements inspired by the Corvette Z06.</li>
    </ul>
    <p class="paragraphs">With its seamless blend of raw power and electrified efficiency, the E-Ray is a bold step toward
         a sustainable yet thrilling future.</p><br><br>
         <hr>
         <br><br>


    <h2 class="header">2. 2025 Lamborghini Revuelto</h2>
    <p class="paragraphs" id="first-paragraph">
        The Lamborghini Revuelto is the brand's first plug-in hybrid supercar, boasting an impressive 1,001 horsepower.
         This car features a new 6.5L V12 engine paired with three electric motors, making it one of the most powerful Lamborghinis ever.
    </p>
    <img src="https://cdn.motor1.com/images/mgl/zxQBp4/s1/2024-lamborghini-revuelto-exterior.jpg">
    <h3 class="paragraphs" id="Highlights">Highlights:</h3>
    <ul id="list-block">
        <li>Top speed of over 217 mph.</li>
        <li>Fully electric mode available for short distances.</li>
        <li>Aggressive, futuristic design with sharp aerodynamics.</li>
    </ul><br><br>
    <hr>
    <br><br>
</body>
</html>